body {
    background-color: antiquewhite;
    margin: 0px;
    width: 100%;
    max-height: min-content;
    /* height: fit-content; */
    position: relative;
    display: flex;
    align-self: center;
    scrollbar-color: #bb8f7a #e2b098;
    justify-content: center;
    overflow: scroll;
}

#headimage {
    border: 2px solid #674E3B;
    margin-top: 50px;
}

#main-container {
    width: 1024px;
    /* height: 1850px; */
    /* height: fit-content; */
    background-color: #bb8f7a;
    position: relative;
}

#headimagebox {
    display: flex;
    justify-content: center;
}

#nav {
    height: 161px;
    width: 1024px;
    background-color: #e2b098;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    z-index: 2;
}
/* I believe it is a better introduction to my website to have my nav links fixed at the top of the page, as well as my hand-lettered name!!! Taking criticisms from Schoology */
/* Z-index keeps fixed nav box above headers when scrolled, so the text doesn't go over the box */

.navlinks {
    color: white;
    font-weight: 800;
    font-size: 25pt;
    margin-left: 40px;
    text-decoration: none;
}

#Erin-Thomas-Name {
    position: relative;
    margin: 20px;
}

#links-in-nav {
    position: relative;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

#erinlogo {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    bottom: 20px;
}

h1 {
    position: relative;
    right: -220px;
    bottom: 280px;
    font-size: 85pt;
    color: white;
}

p {
    color: white;
}

#bodytext {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#firstparagraph {
    font-size: 12pt;
    width: 898px;
    height: 93px;
    margin: 20px;
    margin-top: 25px;
}

#secondparagraph {
    font-size: 14pt;
    width: 386px;
    height: 198px;
    margin-left: 20px;
    margin-top: -60px;
}

#freddiequote {
    width: 430px;
    height: 200px;
    margin-top: -290px;
    margin-left: 20px;
    color: white;
    font-weight: lighter;
    font-size: 17pt;
}

#erinpizzaevent {
    /* this is the picture of me at the DNS pizza event  */
    /* bottom: 300px; */
    padding-left: 20px;
    margin-top: -80px;
    margin-left: 60px;
    
}
/* End of day 1; frustrated but on my way. Keep working! Get text in the nav and figure it out. Probably has to be an a block (link in body) */
/* End of day 2. Added lots of images and most home body text. added more comments explaining my code! Figured out things and wraps and all that flex box cuteness but also found a convientent way around it. ...work smarker not harder.  */

#freddiequotename {
    position: relative;
    bottom: 220px;
    right: 150px;
    margin-top: 45px;
}

#bodytext {
    margin-top: -350px;
}

#mitskiposterpdf {
    width: 334px;
    height: auto;
    margin-top: -220px;
    margin-left: 45px;
    padding: 10px;
}

#mitskipostercomment {
    width: 300px;
    height: 200px;
    margin: 20px;
    font-size: small;
}

#contactsection {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-end;
}

#contactheader {
    font-size: 80pt;
    margin-top: -340px;
    font-weight: light;
    padding: 20px;
}

#contact_text {
    width: 560px;
    height: 111px;
    font-size: 18pt;
    font-weight: lighter;
    margin-top: -115px;
    margin-right: 20px;
}

#contentsection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -150px;
}

#contentheader {
    font-size: 80pt;
    font-weight: light;
    padding: 20px;
    color: white;
}

#contentholder {
    width: 1024px;
    height: 1226px;
    background-color: #674E3B;
    display: flex;
    flex-wrap: wrap;
    margin-top: -240px;
}

#contentdescription {
    margin: 20px;
    margin-top: 50px;
    width: 450px;
    height: 200px;
}

#eartothewall {
    margin-top: 130px;
    margin-left: 70px;
}

#poem {
    margin-left: 60px;
    margin-top: -400px;
}

#dirttub {
    margin: 20px;
}

 /* these are the descriptions and their alignments  */

#dirttubdesc {
    width: 300px;
    height: 85px;
}

#poemfillerdesc {
    align-self: auto;
    margin-left: 60px;
    margin-top: 5px;
    width: 378px;
    height: 53px;
}

#paintingdesc {
    width: 378px;
    height: 45px;
    margin-left: 130px;
    margin-top: 10px;
    text-align: right;
}

 /* these are the descriptions and their alignments  */

#aboutsection {
    display: flex;
    flex-wrap: wrap;
    background-color: #bb8f7a;
}

 #aboutheader {
     color: white;
     font-size: 80pt;
     margin-left: 300px;
     margin-top: 10px;
 }

 #erinaboutdescription {
     width: 460px;
     height: 330px;
     margin-left: 20px;
     font-size: 14pt;
     margin-top: -90px;
 }

#erinworkstation {
    margin-top: -85px;
    margin-left: 20px;
} 

#workstationdesc {
    margin-top: -330px;
    margin-left: 35px;
}

#peanutdesc {
    margin-top: -300px;
    margin-left: 20px;
}

#peanut {
    margin-left: -460px;
    margin-top: -265px;
    padding-bottom: 20px;
}

#footer {
    width: 1026px;
    height: 148px;
    background-color: #674E3B;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.footlinks {
    font-size: 26pt;
    font-weight: 800;
    color: #bb8f7a;
    text-decoration: none;
}

/* text-decoration takes away the lines beneath the links. More professional-looking */

#aboutfootsection {
    margin-right: 30px;
    color: white;
    text-shadow: 2.5px 0px 0px #bb8f7a;
}

/* An optical illusion. About link is always white but it appears to the viewer like any section they are on turns white. */
/* Some changes in size to better fit negative/positive space available... Tried to stay true to the mockup regardless!!!*/

/* unvisited link */
.navlinks:link {
    color: white;
  }
  
  /* visited link */
  .navlinks:visited {
    color: white;
  }
  
  /* mouse over link */
  .navlinks:hover {
    color: #bb8f7a;
  }
  
  /* selected link */
  .navlinks:active {
    color: #674E3B;
  }

  /* Works with replacing 'a' with the class type!!! */
  /* Therefore leaves footer links alone. */

/* complicated css for hover-desc */

  .image-container img {
    /* width: auto;
    height: 200px; */
    display: flex;
  }

  #wrapper {
    display: flex;
    flex-wrap: wrap;
}

  .image-caption {
    /* width: 300px; */
    height: 120px;
    /* margin: 50px; */
    background: rgba(72, 43, 43, 0.7);
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    /* font-family: 'Times New Roman', Times, serif; */
    color: #bb8f7a;
    width: min-content;
    /* justify-content: center;
    align-items: center; */
    justify-self: center;
  }

  .image-container:hover .image-caption {
    opacity: 1;
    position: relative;
    margin-top: -510px;
    /* height: fit-content;
    width: 300px; */
    margin-left: 50px;
    height: 490px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    padding-top: 10px;
  }

  /* furthermore, custom scrollbar */

  /* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e2b098;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bb8f7a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #674E3B;
  }