body{
    background-color: antiquewhite;
    margin: 0px;
    width: 100%;
}

#main-container{
    width: 1024px;
    height: 2000px;
    background-color: #bb8f7a;
    align-items: center;
    align-self: center;
    position: relative;
}

#nav{
    height: 161px;
    width: 1024px;
    background-color: #e2b098;
    position: relative;
    a
}

#Erin-Thomas-Name{
    position: inherit;
    
}

/* End of day 1; frustrated but on my way. Keep working! Get text in the nav and figure it out. Probably has to be an a block (link in body) */